/* Cleared out old CSS classes since we are now using Material UI (MUI) */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
#root {
  height: 100%;
}
@keyframes jiggle { 0% { transform: rotate(-1deg); } 50% { transform: rotate(1.5deg); } 100% { transform: rotate(-1deg); } } .jiggle-mode { animation: jiggle 0.3s infinite; }
